.wrapper {
    display: flex;
    justify-content: center;
}

.Header {
    height: 53px;
    background: #FFFFFF;
    border: 1px solid #EFEFEF;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.03);
    width: 100vw;
    display: flex;
    align-items: center;
}

.btn {
    width: 100vw;
    height: 70px;
    background: #fff;
    outline: 0;
    border: 0;
    border-bottom: 1px solid #EFEFEF;
    cursor: pointer;
}

.in_btn {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.btn_icon {
    border: none;
    background: none;
    cursor: pointer;
}